<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Application</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <img src="/static/bgimage.jpg" alt="Background Image" style="display: none;">
    <div class="quiz-container">
        <div id="quiz">
            <div id="quote">"Challenge yourself, because no one else will do it for you."</div>
            <div id="question-container" class="hide">
                <div id="question">Question</div>
                <div id="answer-buttons" class="btn-container">
                    <button class="btn">Answer 1</button>
                    <button class="btn">Answer 2</button>
                    <button class="btn">Answer 3</button>
                    <button class="btn">Answer 4</button>
                </div>
            </div>
            <div class="controls">
                <button id="start-btn" class="start-btn btn">Start Quiz</button>
                <button id="next-btn" class="next-btn btn hide">Next</button>
            </div>
        </div>
        <div id="score-container" class="hide">
            <div id="score">Your Score: 0</div>
            <button id="restart-btn" class="btn">Restart Quiz</button>
        </div>
    </div>
    <div class="developer">Developed by Girish C</div>
    <script src="/static/script.js"></script>
</body>
</html>
